[submodule "libstardustxr/godot-cpp"]
	path = libstardustxr/godot-cpp
	url = https://github.com/GodotNativeTools/godot-cpp
	branch = 3.2

[submodule "godot_headers"]
	path = godot_openxr/godot_headers
	url = https://github.com/GodotNativeTools/godot_headers
